* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Cinzel Decorative", cursive !important;
  text-rendering: optimizeLegibility !important;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: rgb(245, 241, 241);
  padding: 1rem;

  /* display: flex; */
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(17, 79, 17);
  outline: 1px solid black;
}

.map-container {
  position: relative;
  border: rgba(16, 94, 15, 0.5) ridge 8px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: 1fr; */
  /* row-gap: 1rem; */
}

.flex-container {
  width: 490px;
  height: 600px;
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
  flex-basis: 25rem;
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

footer {
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
  z-index: 1000;
}

.sidebar {
  font-family: "Cinzel Decorative", cursive !important;
  /* grid-column: 1 / -1; */
  /* position: absolute;
  top: 0;*/
  z-index: 1000;
  padding: 3rem 5rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  flex-basis: 50rem;
  color: #ececec;
}

.sidebar-header {
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
  text-shadow: 0 1.9px #fff;
  border-radius: 12px;
  margin-bottom: 4rem;
  letter-spacing: 0.3rem;
  /* background: url("./img/istockphoto-1019262232-170667a.jpg") fixed; */
  /* box-shadow: 0 0 7px 7px white inset; */
}

.logo {
  height: 3rem !important;
  padding-right: 0.2rem !important;
}
/* img {
  width: 100px;
} */

.first-letter {
  font-size: 4.5rem;
}

.adventures {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.adventures::-webkit-scrollbar {
  width: 0;
}

.adventure {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #586f6b;
  border-radius: 8px 8px 8px 8px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
  height: 9.25 rem;
  transition: all 0.5s, transform 1ms;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.adventure-name {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.adventure-details {
  display: flex;
  align-items: baseline;
}

.adventure-icon {
  margin-right: 0.2rem;
  height: 0.28rem;
  font-size: 1.8rem;
}

.adventure-icon-family {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  height: 0.28rem;
  font-size: 1.6rem;
}

.adventure-value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.adventure-unit {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #586f6b;
  border-radius: 8px 8px 8px 8px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 3.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;
  height: 9.25 rem;
  transition: all 0.5s, transform 1ms;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.form.hidden {
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form-row {
  display: flex;
  align-items: center;
}

/* .form-row--hidden {
  display: none;
} */

.form-label {
  font-size: 1.6rem;
  flex: 0 0 40%;
  font-weight: 600;
  margin-right: 20px;
}

.form-input:focus {
  outline: none;
}

.form-input {
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  padding: 0.4rem 1.2rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 3px;
  background-color: #ddd5d0;
}

.form-btn {
  display: none;
}

/* #map { */
/* grid-column: 1 / -1; */
/* z-index: 200; */
/* background-color: red; */
/* } */

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #586f6b;
  color: #ececec;
  padding-right: 0.6rem;
  border-radius: 6px;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #586f6b;
}

.solo-popup .leaflet-popup-content-wrapper {
  border-left: 2px solid blue;
  border-bottom: 2px solid blue;
}
.family-popup .leaflet-popup-content-wrapper {
  border-left: 2px solid red;
  border-bottom: 2px solid red;
}
.friends-popup .leaflet-popup-content-wrapper {
  border-left: 2px solid green;
  border-bottom: 2px solid green;
}

.leaflet-bottom {
  z-index: 800 !important;
}
